/* Underline on hover for light mode */
a:hover {
    text-decoration: underline;
    color: #005999;
    /* Change hover color in light mode */
}

.dark a:hover {
    text-decoration: underline;
    color: #005999;
    /* Change hover color in light mode */
}